In [1]:
import pandas as pd
import sqlite3
import os


db = sqlite3.connect("SoccerStats.db")

df = pd.read_csv("SoccerGameResults.csv")

df.to_sql("stats_import", db, if_exists = "replace")

def run_query(query):
    return pd.read_sql_query(query,db)

os.getcwd()

'C:\\Users\\G.I.Jesus\\Desktop\\Source\\PythonSpring2020'

In [2]:
df

,GameDate,TeamName,HomeOrAway,Goals,GoalAttempts,ShotsOnGoal,ShotsOffGoal,PosessionPercent
0,8/26/2015 05:30 PM,Chicago Fire,Home,3.0,16.0,5.0,11.0,48.68
1,8/26/2015 05:30 PM,New York Red Bulls,Away,2.0,12.0,3.0,9.0,51.32
2,8/26/2015 06:00 PM,Colorado Rapids,Home,2.0,15.0,7.0,8.0,40.96
3,8/26/2015 06:00 PM,Houston Dynamo,Away,1.0,14.0,11.0,3.0,59.04
4,8/28/2015 08:00 PM,San Jose Earthquakes,Home,1.0,10.0,3.0,7.0,50.27
...,...,...,...,...,...,...,...,...
175,10/25/2015 04:00 PM,Real Salt Lake,Away,1.0,13.0,8.0,5.0,59.19
176,10/25/2015 04:00 PM,Los Angeles Galaxy,Away,1.0,22.0,6.0,16.0,45.09
177,10/25/2015 04:00 PM,Houston Dynamo,Away,0.0,14.0,2.0,12.0,56.69
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.83

In [3]:
query = """
SELECT *
FROM sqlite_master
ORDER BY name;
"""

run_query(query)

,type,name,tbl_name,rootpage,sql
0,table,SoccerGoalInfo,SoccerGoalInfo,17,"CREATE TABLE ""SoccerGoalInfo"" (\n""index"" INTEG..."
1,index,ix_SoccerGoalInfo_index,SoccerGoalInfo,19,"CREATE INDEX ""ix_SoccerGoalInfo_index""ON ""Socc..."
2,index,ix_stage_stats_import_index,stage_stats_import,9,"CREATE INDEX ""ix_stage_stats_import_index""ON ""..."
3,index,ix_stats_import_index,stats_import,13,"CREATE INDEX ""ix_stats_import_index""ON ""stats_..."
4,index,ix_stats_index,stats,3,"CREATE INDEX ""ix_stats_index""ON ""stats"" (""index"")"
5,table,stage_stats_import,stage_stats_import,7,"CREATE TABLE ""stage_stats_import"" (\n""index"" I..."
6,table,stats,stats,2,"CREATE TABLE ""stats"" (\n""index"" INTEGER,\n ""G..."
7,table,stats_import,stats_import,12,"CREATE TABLE ""stats_import"" (\n""index"" INTEGER..."

In [4]:
query = """
SELECT *
FROM stats_import;
"""

run_query(query)

,index,GameDate,TeamName,HomeOrAway,Goals,GoalAttempts,ShotsOnGoal,ShotsOffGoal,PosessionPercent
0,0,8/26/2015 05:30 PM,Chicago Fire,Home,3.0,16.0,5.0,11.0,48.68
1,1,8/26/2015 05:30 PM,New York Red Bulls,Away,2.0,12.0,3.0,9.0,51.32
2,2,8/26/2015 06:00 PM,Colorado Rapids,Home,2.0,15.0,7.0,8.0,40.96
3,3,8/26/2015 06:00 PM,Houston Dynamo,Away,1.0,14.0,11.0,3.0,59.04
4,4,8/28/2015 08:00 PM,San Jose Earthquakes,Home,1.0,10.0,3.0,7.0,50.27
...,...,...,...,...,...,...,...,...,...
175,175,10/25/2015 04:00 PM,Real Salt Lake,Away,1.0,13.0,8.0,5.0,59.19
176,176,10/25/2015 04:00 PM,Los Angeles Galaxy,Away,1.0,22.0,6.0,16.0,45.09
177,177,10/25/2015 04:00 PM,Houston Dynamo,Away,0.0,14.0,2.0,12.0,56.69
178,178,None,None,None,NaN,NaN,NaN,NaN,NaN
179,179,None,None,None,NaN,NaN,NaN,NaN,43.83

In [5]:
cleanStats = df.drop(axis = 1, columns = 'GameDate');

In [6]:
cleanStats

,TeamName,HomeOrAway,Goals,GoalAttempts,ShotsOnGoal,ShotsOffGoal,PosessionPercent
0,Chicago Fire,Home,3.0,16.0,5.0,11.0,48.68
1,New York Red Bulls,Away,2.0,12.0,3.0,9.0,51.32
2,Colorado Rapids,Home,2.0,15.0,7.0,8.0,40.96
3,Houston Dynamo,Away,1.0,14.0,11.0,3.0,59.04
4,San Jose Earthquakes,Home,1.0,10.0,3.0,7.0,50.27
...,...,...,...,...,...,...,...
175,Real Salt Lake,Away,1.0,13.0,8.0,5.0,59.19
176,Los Angeles Galaxy,Away,1.0,22.0,6.0,16.0,45.09
177,Houston Dynamo,Away,0.0,14.0,2.0,12.0,56.69
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN,43.83

In [7]:
cleanStats = cleanStats.dropna();

In [8]:
cleanStats

,TeamName,HomeOrAway,Goals,GoalAttempts,ShotsOnGoal,ShotsOffGoal,PosessionPercent
0,Chicago Fire,Home,3.0,16.0,5.0,11.0,48.68
1,New York Red Bulls,Away,2.0,12.0,3.0,9.0,51.32
2,Colorado Rapids,Home,2.0,15.0,7.0,8.0,40.96
3,Houston Dynamo,Away,1.0,14.0,11.0,3.0,59.04
4,San Jose Earthquakes,Home,1.0,10.0,3.0,7.0,50.27
...,...,...,...,...,...,...,...
173,San Jose Earthquakes,Away,1.0,21.0,10.0,11.0,47.73
174,Colorado Rapids,Away,1.0,22.0,12.0,10.0,50.11
175,Real Salt Lake,Away,1.0,13.0,8.0,5.0,59.19
176,Los Angeles Galaxy,Away,1.0,22.0,6.0,16.0,45.09
177,Houston Dynamo,Away,0.0,14.0,2.0,12.0,56.69

In [9]:
cleanStats.to_sql('SoccerGoalInfo', db, if_exists = "replace")

In [10]:
query = """
SELECT * FROM SoccerGoalInfo;
"""
cleandb = pd.read_sql_query(query, db)

cleandb

,index,TeamName,HomeOrAway,Goals,GoalAttempts,ShotsOnGoal,ShotsOffGoal,PosessionPercent
0,0,Chicago Fire,Home,3.0,16.0,5.0,11.0,48.68
1,1,New York Red Bulls,Away,2.0,12.0,3.0,9.0,51.32
2,2,Colorado Rapids,Home,2.0,15.0,7.0,8.0,40.96
3,3,Houston Dynamo,Away,1.0,14.0,11.0,3.0,59.04
4,4,San Jose Earthquakes,Home,1.0,10.0,3.0,7.0,50.27
...,...,...,...,...,...,...,...,...
173,173,San Jose Earthquakes,Away,1.0,21.0,10.0,11.0,47.73
174,174,Colorado Rapids,Away,1.0,22.0,12.0,10.0,50.11
175,175,Real Salt Lake,Away,1.0,13.0,8.0,5.0,59.19
176,176,Los Angeles Galaxy,Away,1.0,22.0,6.0,16.0,45.09
177,177,Houston Dynamo,Away,0.0,14.0,2.0,12.0,56.69

In [13]:
query = """
SELECT AVG(Goals) FROM SoccerGoalInfo;
"""

run_query(query)

   AVG(Goals)
0     1.44382